/* fonts from google fonts */
/* poppins fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* inter fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');



/* Shared styles */
body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Inter', sans-serif;
    max-width: 83%;
    margin: 0 auto;
}


/* Header section styles */

header {
    margin: 0px 0px 70px;
}

.nav-title {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    list-style-type: none;
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
}

.nav-items-container {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.nav-items a {
    text-decoration: none;
}

/* Banner section styles */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    gap: 80px;
}

.banner-text {
    max-width: 700px;
}

.banner-title {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    /* 134.615% */
}

.banner-description {
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    margin-top: -20px;
    margin-bottom: 30px;
}

.btn-banner {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 18px;
    background-color: #E02C6D;
    border: 0;
    border-radius: 25px;
}

.banner-img {
    background-image: url('../images/Circle\ design.svg');
    background-position: center;
    text-align: center;
}


/* Sponsor section style */

.logo-section {
    margin-bottom: 100px;
}

.sponsor-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0px;
}

.sponsor-container img {
    text-align: center;
    width: 85px;
    height: 25px;
}

/* Popular collection styles */

.collection-container {
    margin: 90px auto;
}

.collection-title {
    text-align: center;
    margin-bottom: 34px;
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;
    /* 250% */
}

.box-container {
    display: grid;
    grid-template-columns: repeat(3, 0.8fr);
    align-items: center;
    justify-content: center;
    column-gap: 50px;
    row-gap: 20px;
}

.box {
    padding: 15px 14px 15px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 510px;
}

.box-img {
    width: 100%;
    height: 63%;
    object-fit: cover;
}

.box-title {
    margin-top: 16px;
    color: #18191F;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    /* 142.857% */
}

.price {
    margin-top: -30px;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.87);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
}

.ratings {
    margin-top: -5px;
    color: #5E6366;
    font-size: smaller;
}

.box-description {
    margin-top: auto;
    color: var(--Gray-50, #787885);
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 143%;
    /* 20.02px */
    letter-spacing: 0.252px;
}

.see-more {
    text-align: right;
    margin-right: 60px;
    color: rgba(224, 44, 109, 0.87);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
}


/* Featured section styles */

.featured-section {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 100px;
}

.featured-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
}

.btn-primary {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 18px;
    background-color: #E02C6D;
    border: 0;
}

footer {
    background-color: #0A0826;
}

/* Responsive for small devices */

@media screen and (max-width: 576px) {
    body {
        max-width: 90%;
        margin: 0 auto;
    }

    .nav-title{
        display: flex;
        align-items: center;
    }

    .nav-items-container {
        align-items: center;
        text-align: center;
    }


    .nav-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .banner, .featured-section {
        flex-direction: column-reverse;
        text-align: center;
        justify-content: center;
        gap: 40px;
    }

    .banner-title {
        padding: 0px;
        font-size: 36px;
    }

    .banner-img{
        object-fit: cover;
    }

    .logo-section {
        margin: 0px 0px;
    }

    .sponsor-container {
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        row-gap: 30px;
        padding: 20px 15px;
    }

    .sponsor-container img {
        text-align: center;
    }



    .box-container {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .box {
        width: 95%;
        margin: 0 auto;
    }

    /* .featured-section {
        margin: 10px 40px;
    } */

}